


@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Play:400,700);

body{
	background-image: url(../img/mainbg.png);
	font-family: 'PT Sans', sans-serif;
	overflow-x:hidden;

}
.popupback{
	background-color: rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.3);
	width: 100%;
    height: 100%;
    position: absolute;
}
.popup{

}
.container{
	max-width: 950px;
	margin: 0 auto;
	padding: 0;
}
.wrapper{
	background-color: #fff;
}
.gg{
	position: absolute;
	margin-left: -417px;
	
}
.log{
	position: absolute;
	margin-top: 20px;
}
.headWrapper{
	max-width: 950px;
	margin: 0 auto;
	overflow: hidden;
}
.imgLogo{
	margin-left: 30px;
	width: 260px;
}
.textLogo{
	color: rgba(255, 255, 255, 1);
	width: 190px;
	font-size: 15px;
	margin-left: 30%;
	letter-spacing: 1px;
	line-height: 16px;
    margin-top: -10px;
}
.enter{
	position: absolute;
	text-align: center;
	margin-top: 10px;
	font-size: 13px;
	font-family: 'Play', sans-serif;
	margin-left: 122px;
	font-weight: bold;
}
.dilerEnter{
	font-family: 'Play', sans-serif;
	text-transform: uppercase;
	margin-top: 5px;
	width: 220px;
	height: 40px;
	border-radius: 4px;
	color: rgba(255, 255, 255, 1);
	background-color: #c5e19d;
	border: 0;
	outline: none;
	font-size: 14px;
	font-weight: bold;
	  background: #bfdba7;
  background: -webkit-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -ms-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -moz-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -o-linear-gradient(bottom, #b2d495, #cce2b9);
  background: linear-gradient(to top, #b2d495, #cce2b9);

}
.phone{
	font-size: 14px;
    font-weight: bolder;
	margin-top: 7px;
	font-family: 'Play', sans-serif;
	
}
.headTool{
	margin-top: 30px;
	max-width: 950px;
	margin: 0px auto;
	
}
.headTool input,.headWrapper input{
    border: 0;
    top: -5px;
    position: relative;
    background: inherit;
    border-bottom: 1px solid;
    outline: none;
    margin-left: 5px;
    margin: 20px 10px;
}
.headTool form button,.headWrapper form button{
    margin-left: 63px;
    margin-top: 25px;
    background: inherit;
    outline: none;
    width: 17px;
    height: 16px;
    border: 0;
    background-image: url(../img/search1.png);
}
.headTool .basket{

	background: #165060;
	padding: 12px;
	border-radius: 100%;
	float: right;
	position: absolute;
    top: -12px;
    left: 150px;

}
.headTool .shop {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 0px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
.menu,
.menu ul,
.menu ul li,
.menu ul li a,
.menu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu:after,
.menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}
.menu {
  width: auto;
  border: 1px solid #98c571;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
  background: #bfdba7;
  background: -webkit-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -ms-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -moz-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -o-linear-gradient(bottom, #b2d495, #cce2b9);
  background: linear-gradient(to top, #b2d495, #cce2b9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #aacf8a, inset 0 1px 0 #d4e7c4;
  max-width: 950px;
  margin: 0 auto;
  font-family: 'Play', sans-serif;
  text-align: center;


}
.menu ul li {
	    padding: 17px 0;
	    border-right: 2px solid #fff;
}
.menu ul li:last-of-type {
	    border-right: 0px solid #fff;
}
.menu ul li a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
.menu ul li:hover{
	background: #d4eac1;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu.small-screen #menu-button {
    display: block;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
      background: #bfdba7;
  background: -webkit-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -ms-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -moz-linear-gradient(bottom, #b2d495, #cce2b9);
  background: -o-linear-gradient(bottom, #b2d495, #cce2b9);
  background: linear-gradient(to top, #b2d495, #cce2b9);
}
#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 50%;
    top: 21px;
    display: block;
    width: 22px;
    height: 2px;
    background: #ffffff;

}
#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 50%;
    top: 11px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    width: 22px;
    height: 3px;
}
.bluBut{
	font-size: 14px;
	font-family: 'Play', sans-serif;
	color: #fff;
	border: 0;
	outline: none;
	float: right;
	width: 180px;
	height: 40px;
	border-radius:4px;
	margin-top: 40px;
	background: #bfdba7;
  	background: -webkit-linear-gradient(bottom, #024150, #2b6072);
  	background: -ms-linear-gradient(bottom, #024150, #2b6072);
  	background: -moz-linear-gradient(bottom, #024150, #2b6072);
  	background: -o-linear-gradient(bottom, #024150, #2b6072);
  	background: linear-gradient(to top, #024150, #2b6072);
  	letter-spacing: 1px;

}

.carousel{
	max-width: 950px;
	margin: 0 auto;
}
.carousel-caption{
    right: 8%;
    text-align: left;
    left: 51%;
    
    color: #000;
    text-shadow: none;
    line-height: 23px;
    font-size: 18px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    }
.glyphicon-chevron-left{
	left: -30px !important;

}
.glyphicon-chevron-right{
	right: -30px !important;
}
.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{
	content: none;
}
.wrpapperBlock .row{
	margin: 0;
}
.slideBlock{
    background: #c8e199;
    max-height: 100px;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding: 30px 0;
   	font-weight: bold;
    padding-left: 9%;
    cursor: pointer;
	
}
.slideBlock:hover{
	background: #daeabb;
}
.netSys{
	background-image: url(../img/netsys.png);
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 33px;
    margin-left: -15px;
    margin-top: 4px;
	
}
.autosys{
	background-image: url(../img/autosys.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	float: left;
    margin-right: 33px;
    margin-left: -15px;
    margin-top: 4px;
}
.hybsys{
		background-image: url(../img/hybsys.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
	float: left;
    margin-right: 33px;
    margin-left: -15px;
    margin-top: 4px;

}
.activeImg{
	top: -17px;
    left: 45%;
    position: absolute;
    display: none;
}
.activeSystem{
	background-color: #000;
	background-position: ;
}
.oneItem{
	background: #c8e199;
	text-align: center;
}
.allSales{
	color: #00404e;
    display: block;
    font-size: 16px;
    text-align: right;
    margin-bottom: 5px;
    line-height: 28px;
    text-decoration: underline;
}
.oneItem .sale{
	position: absolute;
	right: 14px;
}
.imgItem img{
	width: 100%
}
.infoItem{
	font-family: 'Play', sans-serif;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.oldPrice{
	text-decoration:line-through;
	font-size: 18px;
	font-family: 'Play', sans-serif;
	font-weight: bold;

}
.newPrice{
	color: #00404e;
	font-size: 24px;
    margin-left: 10px;
	font-family: 'Play', sans-serif;
	font-weight: bold;
}
.oneItem .bluBut{
	float: none;
	margin: 20px;
	text-transform: uppercase;
	font-size: 14px;
}
.main{
	
}
.main .desc{
	margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
}
.desc h3{
	font-family: 'Play', sans-serif;
    color: #00404e;
    line-height: 28px;
    font-weight: bold;
}
.desc p{
	margin-top: 16px;
}
.desc .col-md-4{
	padding-left: 0;
}
.calcWrapper{

}
.calc{
	max-width: 550px;
	margin: 40px auto;
	background: #fff;
	margin-left: 0;
}
.calc .netSys{
    height: 26px;
    background-size: 55px;
    width: 26px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 8px;
}
.calc .autosys{
    height: 26px;
    background-size: 55px;
    width: 26px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 8px;
}
.calc .hybsys{
    height: 26px;
    background-size: 55px;
    width: 26px;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 8px;
	
}
.calc .active{
	background-position: -29px 0px;

}

.selectCalc{
	font-family: 'Play', sans-serif;
	float: left;
	background: #c8e199; 
	border-right: 1px solid #fff;
	padding-left: 10px;
	width: 33.3%;
	line-height: 40px;
	font-weight: bold;
	cursor: pointer;

}
.selectCalc:hover {
    background: #daeabb;
}
.question{
	margin:30px 20px;
}
.sliderCalc{
	
}
.ui-slider{
	max-width: 360px;
	margin-left: 20px;
	margin-right: 30px;
	background: #acacac !important;
	border-radius: 0 !important;
	margin-top: 20px !important;
}
.ui-widget-header{
	background: #bfdba7 ;
  	background: -webkit-linear-gradient(bottom, #b2d495, #cce2b9) !important;
  	background: -ms-linear-gradient(bottom, #b2d495, #cce2b9) !important;
  	background: -moz-linear-gradient(bottom, #b2d495, #cce2b9) !important;
  	background: -o-linear-gradient(bottom, #b2d495, #cce2b9) !important;
  	background: linear-gradient(to top, #b2d495, #cce2b9) !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border-radius: 100%;
	background-image:url(../img/scroll.png) !important;
	  width: 30px !important; 
    top: -10px !important;
    height: 30px !important;
    outline: none;
}
.amount{font-size: 24px; color: #c8e199;font-family: 'Play', sans-serif;font-weight: bold; }
.consume{
    float: right;
    left: -30px;
    top: -22px;
    position: relative;
}
.consumMob{
	float: none;
	position:static;
	margin: 10px 105px;
	

}
.result{
	
	text-align: center;
}
.result span{
	font-size: 30px;
	color: #00404e;
	font-weight: bold;
	font-family: 'Play', sans-serif;
}
.resultTable{
	margin: 45px auto; 
	border: 1px solid #c8e199;
	max-width: 500px;
	margin-bottom: 15px;
}
.resultTable p{
	margin: 15px;
	font-size: 15px;
}
.resultTable table{
	width: 100%;
	margin:20px 0;
}
.resultTable table tr{
	line-height: 20px;
	text-align:left;
	   font-size: 15px;
    font-family: 'Play', sans-serif;

}
.resultTable table tr a{
	font-family: 'Play', sans-serif;
	color: #00404e;
	font-weight: bold;
}
.trBg{
	background: #e9f6e2;
}
.resultTable table tr td:first-of-type{
	text-align: right;
	padding: 0 15px;
}
.plantLink{
	color: #c8e199;
	margin:15px 15px;
	display: block;
	text-decoration: underline;
	font-size: 16px;
}
.pricePlant{
	float: right;
    margin-right: 25px;
    font-size: 16px;
}
.pricePlant span{
	font-size: 17px;
	font-weight: bold;
	font-family: 'Play', sans-serif;
}
.calc .bluBut{
	float: none;
	width: 260px;
	margin: 40px 10%;
	
}
.footer{
	padding-top: 30px;
	background: #363636;
	max-width:950px;
	margin: 40px auto;
	margin-bottom: 0;
	color: #b7b7b7;

}
.product a{
	display: block;
	margin-bottom: 10px;
	color: #fff;
	font-weight: bold;
}
.contactUs {
	
    max-width: 230px;
}
.footer input::-webkit-input-placeholder {color:#6a6a6a;}
.footer input::-moz-placeholder {color:#6a6a6a;} .footer input:-moz-placeholder {color:#6a6a6a;}
.footer input:-ms-input-placeholder {color:#6a6a6a;} .footer textarea::-webkit-input-placeholder {color:#6a6a6a;}
.footer textarea::-moz-placeholder {color:#6a6a6a;} .footer textarea:-moz-placeholder {color:#6a6a6a;}
.footer textarea:-ms-input-placeholder  {color:#6a6a6a;}

.contactUs input,.contactUs textarea{
	margin-bottom: 10px;
	outline: none;
	background: #c6c6c6;
	border: 0;
	width: 100%;
	max-width: 230px;
	height: 30px;
	padding:10px;
	color: #000;

}
.contactUs textarea{
	height: 60px;
}
.contactUs .bluBut{
    float: none;
    max-width: 179px;
    margin: 0 auto;
    display: block;
}
.footer .product{
	padding: 0 25px;
	letter-spacing: 1px;
}
.footer .product ul{
	list-style-type: none;
	padding: 0;
}
.footer .product ul a{
	margin-bottom: 5px; 
	color: #b7b7b7;
	font-weight: bold;
}
.footer .phone{
	float: none;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}
.footer .imgLogo{
	margin: 0;
	width: 180px;
}
.footer .location{
	display: block;
	margin-bottom: 10px;
	font-size: 15px;
}
.footer .search input{
	outline: none;
	background: #c6c6c6;
	border: 0;
	float: left;
	max-width: 180px;
	color: #000;
	padding:10px;
	height: 39px;
}
.footer .search div{
	float: right;
	background: #bfdba7;
  	background: -webkit-linear-gradient(bottom, #024150, #2b6072);
  	background: -ms-linear-gradient(bottom, #024150, #2b6072);
  	background: -moz-linear-gradient(bottom, #024150, #2b6072);
  	background: -o-linear-gradient(bottom, #024150, #2b6072);
  	background: linear-gradient(to top, #024150, #2b6072);	
	padding: 10px 15px;
	position: absolute;
    left: 188px;
}
.artic .title{
	font-size: 19px;
	font-weight: bold;
	color: #00404e;
	margin-top: 40px;
	margin-bottom: 10px;
	font-family: 'Play', sans-serif;
}
.artic{
	text-align: left;
	font-family: 'PT Sans', sans-serif;

}
.artic a{
	font-size: 16px;
	display: block;
	text-align: right;
	color:#00404e;
	font-family: 'PT Sans', sans-serif;
}
.footerWrapper{
	background: #363636;
	width: 100%
}
.tqg{
    margin-top: 70px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.tqg a{
	font-family: 'PT Sans', sans-serif;
	color: #c8e199;
	text-decoration: none;
}
.box_window{
  width:700px;
  display: none; 
  position:fixed;
  top:15%;
  left:60%;
  margin-left:-350px;
  z-index:11;
  background: #fff;
  display:none;
  padding:20px;
}
.box_window_in {
  position: relative;
  overflow-y:auto;
}
.box_title {
  position: absolute;
  left: 0px;
  top: -30px;
  color: #fff;
}
.bw_close{
  position:absolute;
  top: -25px;
  font-size: 10px;
  color: #fff;
  right:0px;
  cursor:pointer;
  z-index: 2;
}
.mask{
  position:fixed;
  background:rgba(0, 0, 0, 0.38);
  display:none;
  height:100%;
  width: 100%;
  z-index:10;
}
.to_blur.blur {
 -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
}
.popwindow .contactUs{
	margin: 45px auto;
}
.popwindow .contactUs p{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
.popwindow input::-webkit-input-placeholder {color:#000;}
.popwindow input::-moz-placeholder {color:#000;} .popwindow input:-moz-placeholder {color:#000;}
.popwindow input:-ms-input-placeholder {color:#000;} .popwindow textarea::-webkit-input-placeholder {color:#000;}
.popwindow textarea::-moz-placeholder {color:#000;} .popwindow textarea:-moz-placeholder {color:#000;}
.popwindow textarea:-ms-input-placeholder  {color:#000;}